@import "tailwindcss";

@theme {
  --color-gorilla-dark: #0E0C15;
  --color-gorilla-orange: #F47F20;
  --color-gorilla-purple: #8B5CF6;
  --animate-spin-slow: spin 3s linear infinite;
}

/* Estilos base CLAROS para el contenido */
body {
  background-color: #F3F4F6; /* Gris muy suave */
  color: #111827; /* Gris casi negro para texto */
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #E5E7EB;
}
::-webkit-scrollbar-thumb {
  background: var(--color-gorilla-orange);
  border-radius: 10px;
}

/* Ocultar scrollbar pero permitir scroll */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media print {

  /* Ocultar todo lo que no sea el recibo */
  body * {
    visibility: hidden;
  }

  #ticket-impresion,
  #ticket-impresion * {
    visibility: visible;
  }

  #ticket-impresion {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: black !important;
    background: white !important;
  }

  /* Ajuste para papel térmico */
  @page {
    margin: 0;
    size: auto;
  }
}